.button {
  height: auto;
  padding: 10px 25px;
  border-radius: 16px;
  border: none;
  background-color: white;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.35);
  transition-property: background-color;
  transition-duration: 700ms;
  min-width: 100%;
}

.default {
  grid-area: content;
  position: relative;
}

.vanilla {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  color: #ccc;
}

.hof {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.hof img {
  width: 24px;
  height: 24px;
  margin: auto 10px auto 0;
}

.ptg {
  background-color: red;
  color: white;
}

.button:hover {
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.9);
}

.vanilla:hover {
  box-shadow: none;
  color: #ddd;
}

.ptg:hover {
  background-color: rgb(201, 3, 3);
}

@media only screen and (min-width: 360px) {
  button.button {
    min-width: 100%;
    font-size: 1.5rem;
  }

  button.button img {
    width: 18px;
  }
}

@media only screen and (min-width: 768px) {
  button.button {
    font-size: 1.75rem;
    min-width: 50%;
  }

  button.button img {
    width: 18px;
  }
}

@media only screen and (min-width: 1400px) {
  button.button {
    font-size: 2rem;
    min-width: 50%;
  }

  button.button img {
    width: 24px;
  }
}
