.index-page__container {
  grid-area: content;
  max-width: 742px;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  align-self: start;
  justify-self: center;
  width: 60vw;
}

@media only screen and (max-width: 768px) {
  .index-page__container {
    margin-top: 1rem;
    margin: auto;
    width: 80vw;
    margin-bottom: 4rem;
  }
}
