.main__header-container,
.main__modes-container {
  background-color: white;
  border-radius: 16px;
}
.main__header-container {
  margin-bottom: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9), inset 4px 5px 4px rgba(0, 0, 0, 0.5);
}
.main__modes-container {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main__modes-container div {
  padding: 1rem 1rem 2rem 1rem;
}

.main__subheader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 1rem;
}

.error-page__container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) and (orientation: landscape) {
  .error-page__container {
    height: auto;
    padding: 1rem 0;
  }
}
@media screen and (min-width: 992px) and (orientation: landscape) {
  .error-page__container {
    height: 100vh;
  }
}
