.answers-list-table {
  border-spacing: 0;
  display: block;
  table-layout: fixed;
  width: 90%;
  margin: 0 auto 30px auto;
  height: 15rem;
  overflow-x: hidden;
  letter-spacing: 1px;
  overflow-y: overlay;
}

.answers-list-container div {
  padding: 0;
}

.answers-header {
  text-align: left;
  color: lightgray;
  width: 100%;
}

.answers-header-row {
  padding: 0;
  margin: 0;
}

.answers-list-tbody {
  width: 100%;
}

.answers-list-thead {
  width: 100%;
  position: sticky;
  background-color: white;
  top: 0;
  padding: 0;
  margin: 0;
}

.answers-list-table::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

.answers-list-table::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background-color: rgb(255, 0, 0);
  background-image: -webkit-linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.3) 50%, transparent, transparent);
}

@media only screen and (min-width: 768px) {
  .answers-list-table {
    width: 100%;
  }
}
