.main__description {
  margin: 1rem 2rem 0 2rem;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
}

.slider__description {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2rem;
  color: #ffe81f;
}

@media only screen and (min-width: 768px) {
  .main__description {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  .slider__description {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 992px) {
  .main__description {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .slider__description {
    font-size: 5rem;
  }
}
