.main__header,
.main__subheader {
  margin: 0;
  font-size: 2.625rem;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  line-height: 3.2rem;
  text-align: center;
}
.main__header {
  padding: 1rem 0.7rem;
  font-weight: 600;
}

.main__subheader {
  padding: 0 1rem;
  font-weight: 500;
}

@media only screen and (max-width: 767px) {
  .main__header,
  .main__subheader {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
