.quiz-answer {
  box-sizing: border-box;
  align-items: center;
  background: var(--starwars-yellow);
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  height: 80px;
  margin: 0.5rem;
  width: 250px;
  border: black solid 2px;
  text-align: center;
  justify-content: center;
}

@media only screen and (max-width: 1400px) {
}
@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 360px) {
  .quiz-answer {
    border-width: var(--quiz360-border-width);
    font-size: 16px;
    height: 2.2rem;
    width: 10rem;
    padding: 1.2rem 0;
  }
}
