.quiz-answer {
  box-sizing: border-box;
  align-items: center;
  background: var(--starwars-yellow);
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  height: 80px;
  justify-content: center;
  margin: 0.5rem;
  width: 250px;
  border: rgba(0, 0, 0, 0.9) solid 3px;
}

@media only screen and (max-width: 360px) {
  .quiz-answer {
    font-size: 16px;
    height: 2.2rem;
    max-width: 10em;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 1400px) {
}
