.question-text {
  background: black;
  border-radius: 1rem;
  color: var(--starwars-yellow);
  display: flex;
  font-size: 28px;
  font-weight: bold;
  height: fit-content;
  justify-content: center;
  padding: 1rem;
  margin: 1.4rem;
  width: 400px;
  align-self: center;
  grid-column: span 2;
  justify-self: center;
}
