.question-text {
  background: rgba(0, 0, 0, 0);
  color: var(--starwars-yellow);
  font-size: 28px;
  font-weight: bold;
  width: fit-content;
  justify-self: center;
  grid-column: span 2;
  margin: 1.5rem;
}
