.quiz-container {
  align-self: start;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  display: flex;
  grid-area: content;
  margin-top: 6rem;
  outline: rgba(0, 0, 0, 0.2) solid 12px;
  width: 800px;
  flex-wrap: wrap;
  justify-content: center;
  height: 400px;
}

.answer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
  border: red solid 2px;
  height: fit-content;
}
