.quiz-answer {
  box-sizing: border-box;
  align-items: center;
  background: var(--starwars-yellow);
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  height: 80px;
  margin: 0.5rem;
  width: 250px;
  border: black solid 2px;
  text-align: center;
  justify-content: center;
}

.quiz-answer:hover {
  text-decoration: underline;
  background-color: rgb(255, 220, 0);
}

.quiz-answer:active {
  background-color: rgb(180, 150, 0);
  border: 0;
  outline: 3px solid black;
}

@media only screen and (max-width: 360px) {
  .quiz-answer {
    border-width: var(--quiz360-border-width);
    font-size: 16px;
    height: 2rem;
    width: 10rem;
    padding: 0;
  }
}

@media only screen and (max-width: 768px) and (min-width: 361px) {
  .quiz-answer {
    border-width: var(--quiz360-border-width);
    font-size: 20px;
    height: 2.6rem;
    width: 220px;
    padding: 0;
  }
}
