.question-text {
  background: black;
  border-radius: 1rem;
  color: var(--starwars-yellow);
  outline: rgba(255, 255, 255, 0.2) solid 3px;
  display: flex;
  font-size: 28px;
  font-weight: bold;
  height: fit-content;
  justify-content: center;
  padding: 1rem;
  margin: 1.4rem;
  margin-top: 2.2rem;
  text-align: center;
  width: 400px;
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 360px) {
  .question-text {
    outline-width: var(--quiz360-border-width);
    font-size: 16px;
    width: 10rem;
    margin: 2rem 0.5rem 1rem 0.5rem;
  }
}
