.quiz-main-menu {
  display: flex;
  position: fixed;
  width: 200px;
  height: 100vh;
  top: 0;
  left: -200px;
  box-sizing: border-box;
  background: rgba(0, 0, 0);
  border-right: solid var(--starwars-yellow) 0.15rem;
  flex-direction: column;
  transition: transform 0.3s;
}

.shadow {
  box-shadow: 1px 1px 120px var(--starwars-yellow);
}

.btn {
  font-size: 18px;
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-top: white solid 2px;
  border-bottom: white solid 2px;
  text-align: left;
  color: white;
  margin: 0.2em 0;
  padding: 0.5em;
}

.btn:hover {
  font-size: 18px;
  color: var(--starwars-yellow);
  box-shadow: 1px 1px 100px var(--starwars-yellow);
}

.btn:active {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  border-color: rgba(255, 255, 255, 0.25);
  box-shadow: 1px 1px 100px white;
}

.burger {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 16px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: transform 0.3s;
}

.selectMode {
  color: #fff;
  font-size: 25px;
  padding: 0.5em;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
}

.hide {
  display: none;
}

.active {
  transform: translateX(200px);
  transition: transform 0.3s;
}

@media screen and (min-width: 360px) {
  .burger {
    font-size: 25px;
  }

  .quiz-main-menu {
    width: 225px;
    left: -225px;
    border-right: solid var(--starwars-yellow) 0.15rem;
  }

  .btn {
    font-size: 20px;
  }

  .btn:hover {
    font-size: 20px;
  }
  .active {
    transform: translateX(225px);
  }
}

@media screen and (min-width: 768px) {
  .burger {
    font-size: 26px;
  }

  .quiz-main-menu {
    width: 260px;
    left: -260px;
    border-right: solid var(--starwars-yellow) 0.15rem;
  }

  .btn {
    font-size: 22px;
  }

  .active {
    transform: translateX(260px);
  }
  .btn:hover {
    font-size: 22px;
  }
}

@media screen and (min-width: 880px) {
  .burger {
    font-size: 36px;
  }

  .quiz-main-menu {
    width: 350px;
    left: -350px;
    border-right: solid var(--starwars-yellow) 0.2rem;
  }

  .active {
    transform: translateX(350px);
  }
}

@media screen and (min-width: 992px) {
  .burger {
    display: none;
  }

  #main-grid-container {
    display: grid;
  }

  .sw-logo {
    margin: 4em 2em 2em 2em;
  }

  .quiz-main-menu {
    position: static;
    display: flex;
    width: unset;
    height: unset;
    margin-top: 0.5em;
    grid-area: navbar;
    margin-right: 2em;
    border-radius: 3em;
    border: solid var(--starwars-yellow) 0.2rem;
    box-shadow: 1px 1px 120px var(--starwars-yellow);
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .main-bg-image{
    display: flex;
  }

  .btn {
    font-size: 28px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    width: max-content;
    height: max-content;
    margin: 0.5em;
    padding: 0 0.5em;
  }

  .btn:hover {
    font-size: 28px;
  }

  .active {
    transform: unset;
    transition: unset;
  }

  .selectMode {
    display: none;
  }
}
